.App {
  text-align: center;
}

.App-header {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: calc(10px + 2vmin);
  color: white;
}

body {
  background-color: rgba(0, 0, 0, 0.589);
  min-height: 135vh;
  width: 99vw;

  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imgBackground {
  background-image: url(../src/images/cv-background.jpg);
  height: 100%;
  width: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}

img {
  height: 130px;
}

.techStackApps {
  height: 75px;
}

.epe {
  width: 230px;
}

.csmOradea {
  height: 90px;
  width: 90px;
}

.vistaWellbeing {
  height: 70px;
  width: 176px;
}

.nedaviSolar {
  height: 80px;
  width: 180px;
}

.puri {
  height: 80px;
  width: 80px;
}

.imagePagingLeft {
  padding-right: 30px;
}

.imagePagingRight {
  padding-right: 30px;
}

.TitleLeft {
  text-align: start;
  width: 50%;
}

.titleText {
  padding-bottom: 30px;
}

.cvProfile {
  width: 244px;
  height: 300px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 30px;
}

.rowTitle {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column-left {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 0.4;
  text-align: center;
  justify-content: center;
  align-items: center;
  min-width: 288px;
}

.column-center {
  flex-direction: column;
  width: 0.5px;
  background-color: white;
  opacity: 30%;
}

@media (max-width: 1440px) {
  .column-left {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 0.4;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-width: 100%;
  }

  .column-center {
    display: flex;
    flex-direction: row;
    height: 1px;
    background-color: white;
    opacity: 30%;
    min-width: 100%;
  }

  .small-distance {
    height: 10px;
    min-width: 100%;
  }

}

@media (max-width: 1080px) {
  .TitleLeft {
    text-align: start;
    width: 89%;
  }

  body {
    background-color: rgba(0, 0, 0, 0.589);
    min-height: 135vh;
    width: 99vw;
  
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.column-right {
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.university {
  width: 200px;
  height: 200px;
}

.githubEducation {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  width: 40px;
  height: 40px;
}

.iconsEducation {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  width: 50px;
  height: 50px;
}

.timelinePadding {
  padding-left: 30px;
}

.timelineTop {
  padding-top: 30px;
}

.projectsImages {
  padding-top: 10px;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
}

.row {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  color: white;
}

.projectImage {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

.githubProjectsNumber {
  padding-top: 0px;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}

.iconsAboutMe {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  width: 120px;
  height: 60px;
}